
export VITE_FIREBASE_API_KEY="AIzaSyBegmZkaW7Q_9c9O3QrSrNVm8C2kkgA4II"
export VITE_FIREBASE_APP_ID="1:67020851240:web:b094505ab319d63b314d1d"
export VITE_FIREBASE_MSG_SNDR_ID="67020851240"
export VITE_FIREBASE_MSRMNT_ID="G-D5W3X9HS7G"